[Unit]
Description=Device Management Flask App
After=network.target

[Service]
User=antonis
WorkingDirectory=/opt/device_app
ExecStart=/opt/device_app/venv/bin/python /opt/device_app/app.py
Restart=always
RestartSec=10
Environment="PATH=/opt/device_app/venv/bin"

[Install]
WantedBy=multi-user.target