<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
  <meta charset="UTF-8">
  <title>{{ _('Device Manager') }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}" />  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />  
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <script src="{{ url_for('static', filename='modal_mqtt.js') }}"></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>

  <nav>
    <div class="menu-header">
      <div class="left-group">
        <div class="menu-toggle" id="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="page-title">{{ _('Device Manager') }}</div>
      </div>
      <div id="mqtt-status">{{ _('MQTT Status: Unknown') }}</div>
    </div>

    <div class="menu-overlay" id="menu-overlay"></div>
    <ul id="menu" class="menu">
      <li><a href="/" class="active">{{ _('Αρχική') }}</a></li>
      <li><a href="/settings">{{ _('Ρυθμίσεις') }}</a></li>
    </ul>
  </nav>

<div class="container master-detail-container">
    <div class="master" role="region" aria-label="{{ _('Devices') }}" style="flex:1; min-width: 280px; padding-right:1rem; border-right: 1px solid #ddd;">
      <h1>{{ _('Devices') }}</h1>
      <div class="devices-header">
        <h2>Υπάρχουσες Συσκευές</h2>
        <button type="button" class="text-btn" onclick="addNewDevice()"><span class="material-symbols-outlined">add</span>{{ _("Προσθήκη Συσκευής") }}</button>
      </div>
      <div id="devices-container"></div>
    </div>

    <div class="detail" role="region" aria-label="{{ _('Φόρμα Συσκευής') }}" style="flex:2; min-width: 320px; padding-left:1rem;">
      <h2 id="form-title">{{ _('Προσθήκη Συσκευής') }}</h2>
      <div id="edit-indicator" style="display:none; margin-bottom: 10px; font-weight: bold; color: var(--primary-dark);"></div>
      <button type="button" id="backBtn" class="text-btn" style="margin-bottom: 1rem; display:none;"><span class="material-symbols-outlined">arrow_back</span>{{ _('Επιστροφή') }}</button>

      <form id="add-device-form">
        <div class="form-group">
          <input type="text" id="deviceName" name="name" required placeholder=" " />
          <label for="deviceName">{{ _('Όνομα Συσκευής') }}</label>
        </div>

        <fieldset>
          <legend>GPIO Pins</legend>

          <div class="form-group">
            <input type="number" id="pin_powered" name="pin_powered" required placeholder=" " />
            <label for="pin_powered">{{ _('Pin: Powered') }}</label>
          </div>

          <div class="form-group">
            <input type="number" id="pin_active" name="pin_active" required placeholder=" " />
            <label for="pin_active">{{ _('Pin: Active') }}</label>
          </div>

          <div class="form-group">
            <input type="number" id="pin_enabled" name="pin_enabled" required placeholder=" " />
            <label for="pin_enabled">{{ _('Pin: Enabled') }}</label>
          </div>

          <div class="form-group">
            <input type="number" id="pin_open" name="pin_open" required placeholder=" " />
            <label for="pin_open">{{ _('Pin: Open') }}</label>
          </div>

          <div class="form-group">
            <input type="number" id="pin_overriden" name="pin_overriden" required placeholder=" " />
            <label for="pin_overriden">{{ _('Pin: Overriden') }}</label>
          </div>

          <div class="form-inline-pin">
            <input type="number" id="pin_enable" name="pin_enable" required placeholder=" " />
            <label for="pin_enable">{{ _('Output Pin: Enable') }}</label>
            <div class="radio-group">
              <label><input type="radio" name="pin_enable_value" value="0" /> 0</label>
              <label><input type="radio" name="pin_enable_value" value="1" /> 1</label>
            </div>
          </div>

          <div class="form-inline-pin">
            <input type="number" id="pin_override" name="pin_override" required placeholder=" " />
            <label for="pin_override">{{ _('Output Pin: Override') }}</label>
            <div class="radio-group">
              <label><input type="radio" name="pin_override_value" value="0" /> 0</label>
              <label><input type="radio" name="pin_override_value" value="1" /> 1</label>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>{{ _('MQTT') }}</legend>

          <div class="form-group">
            <input type="text" id="mqtt_pub_status_topic" name="mqtt_pub_status_topic" placeholder=" " />
            <label for="mqtt_pub_status_topic">{{ _('Publish Status Topic') }}</label>
          </div>

          <div class="form-group">
            <input type="text" id="mqtt_sub_enable_topic" name="mqtt_sub_enable_topic" placeholder=" " />
            <label for="mqtt_sub_enable_topic">{{ _('Subscribe Enable Topic') }}</label>
          </div>

          <div class="form-group">
            <input type="text" id="mqtt_sub_override_topic" name="mqtt_sub_override_topic" placeholder=" " />
            <label for="mqtt_sub_override_topic">{{ _('Subscribe Override Topic') }}</label>
          </div>

          <div class="form-group">
            <input type="text" id="mqtt_sub_report_status_topic" name="mqtt_sub_report_status_topic" placeholder=" " />
            <label for="mqtt_sub_report_status_topic">{{ _('Report Status Topic') }}</label>
          </div>
        </fieldset>

        <div style="text-align: right;">
          <button type="submit" class="text-btn">{{ _('Αποθήκευση') }}</button>
          <button id="form-close-btn" type="button" class="text-btn danger" onclick="closeAddDeviceModal()">{{ _('Κλείσιμο') }}</button>
        </div>
      </form>
    </div>

</div>

<!-- Modal dialog to set Enable and Override pins-->
<div id="pin-modal" class="modal" style="display:none;">
  <div class="modal-content">
    <h3 id="modal-title">{{ _('Set Pin Value') }}</h3>
    <p>{{ _('GPIO ID:') }} <span id="gpio-id"></span></p>
    <form id="pin-form">
      <label><input type="radio" name="pin-value" value="0" checked> 0</label>
      <label><input type="radio" name="pin-value" value="1"> 1</label>
    </form>
    <div id="response-msg" style="margin-top: 1rem;"></div>
    <div id="loader" class="loader" style="display: none;"></div>
    <div class="modal-buttons">
      <button id="set-pin-btn" class="text-btn" onclick="submitPinValue()" disabled>{{ _('Set') }}</button>
      <button class="text-btn" onclick="closePinModal()">{{ _('Κλείσιμο') }}</button>
    </div>
  </div>
</div>

<!-- Modal dialog to test send MQTT messages-->
<div id="mqtt-modal" class="modal" style="display: none;">
  <div class="modal-content">
    <h3 id="mqtt-modal-title">{{ _('Αποστολή MQTT Μηνύματος') }}</h3>
    <p>Topic: <span id="mqtt-topic-display"></span></p>
    <textarea id="mqtt-payload" rows="4" style="width: 100%; margin-top: 1rem;">{}</textarea>
    <div id="mqtt-msg-response" style="margin-top: 1rem;"></div>
    <div class="modal-buttons">
      <button class="text-btn" onclick="sendMQTTMessage()">{{ _('Αποστολή') }}</button>
      <button class="text-btn" onclick="closeMQTTModal()">{{ _('Κλείσιμο') }}</button>
    </div>
  </div>
</div>


<div id="toast-container"></div>

<script>
  let allDevices = [];
  let expandedDeviceId = null;

  let isEditing = false; // ή true όταν μπαίνεις σε edit mode

  function getUsedPins() {
    const used = new Set();
    for (const d of allDevices) {
      Object.values(d.pins).forEach(pin => used.add(pin));
    }
    return used;
  }

  const socket = io({
    reconnection: true,
    reconnectionAttempts: 3,
    reconnectionDelay: 1000,
  });


  socket.on("pin_update", (update) => {
    const { device_id, pin_key, new_value } = update;

    const span = document.getElementById(`${device_id}-${pin_key}`);
    if (span) {
      const pin = span.textContent.split('(')[0].trim();
      span.textContent = `${pin} (${new_value})`;
    }
  });


  async function fetchDevices() {
    const res = await fetch('/api/devices');
    const data = await res.json();
    allDevices = data;

    // //test data
    // const id = "1";
    // const name = 'Πιεστικό σπιτιού';

    // const pins = {
    //   active: 
    //   {
    //     pin: 1,
    //     value: 1
    //   },
    //   enabled: 
    //   {
    //     pin: 2,
    //     value: 0
    //   },
    //   open:  
    //   {
    //     pin: 3,
    //     value: 1
    //   },
    //   enable:  
    //   {
    //     pin: 4,
    //     value: 0
    //   },
    //   override:  
    //   {
    //     pin: 5,
    //     value: 1
    //   }
    // };

    // const mqtt = {
    //   status: '/alyki/piestiko/spiti/status',
    //   enable: '/alyki/piestiko/spiti/enable',
    //   override: '/alyki/piestiko/spiti/override',
    //   report_status: '/alyki/piestiko/spiti/report_status'
    // };

    // const device = {
    //   id,
    //   name,
    //   pins,
    //   mqtt
    // };

    // allDevices.push(device);

    const container = document.getElementById('devices-container');
    container.innerHTML = '';

    data.forEach(device => {
      const p = device.pins;
      const mqtt = device.mqtt || {};

      const card = document.createElement('div');
      card.className = 'device-card';

      card.innerHTML = `
        <div class="device-header" onclick="toggleCard(this)">
          <h3 class="device-title">${device.name}</h3>
          <span class="toggle-icon">▾</span>
        </div>

        <div class="device-details">
          <div class="device-section">
            <h4 class="section-title">{{ _('GPIO Pins') }}</h4>
            <div class="group">
              <div class="pin-group">
                <h5>{{ _('Status Pins') }}</h5>
                <div class="item">{{ _('Powered:') }} <span id="${device.id}-powered">${p.powered.pin} (${p.powered.value})</span></div>
                <div class="item">{{ _('Active:') }} <span id="${device.id}-active">${p.active.pin} (${p.active.value})</span></div>
                <div class="item">{{ _('Enabled:') }} <span id="${device.id}-enabled">${p.enabled.pin} (${p.enabled.value})</span></div>
                <div class="item">{{ _('Open:') }} <span id="${device.id}-open">${p.open.pin} (${p.open.value})</span></div>
                <div class="item">{{ _('Overriden:') }} <span id="${device.id}-overriden">${p.overriden.pin} (${p.overriden.value})</span></div>
              </div>

              <div class="pin-group">
                <h5>{{ _('Control Pins') }}</h5>
                <div class="item">
                  <button class="text-btn" onclick="openPinModal(${p.enable.pin}, ${p.enable.value}, 'Enable')">{{ _('Enable:') }}</button>
                  <span id="${device.id}-enable">${p.enable.pin} (${p.enable.value})</span>
                </div>
                <div class="item">
                  <button class="text-btn" onclick="openPinModal(${p.override.pin}, ${p.override.value}, 'Override')">{{ _('Override:') }}</button>
                  <span id="${device.id}-override">${p.override.pin} (${p.override.value})</span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="device-section">
            <h4 class="section-title">{{ _('MQTT') }}</h4>
            <div class="group mqtt">
              <div class="mqtt-group">
                <h5>{{ _('Publish Status Topic') }}</h5>
                <div class="item">{{ _('Status:') }} <span class="mqtt-topic" data-topic-type="status">${mqtt.status || '-'}</span></div>
              </div>
              <div class="mqtt-group">
                <h5>{{ _('Subscribe Control Topics') }}</h5>
                <div class="item">{{ _('Enable:') }} <span class="mqtt-topic" data-topic-type="enable">${mqtt.enable || '-'}</span></div>
                <div class="item">{{ _('Override:') }} <span class="mqtt-topic" data-topic-type="override">${mqtt.override || '-'}</span></div>
                <div class="item">{{ _('Report status:') }} <span class="mqtt-topic" data-topic-type="report_status">${mqtt.report_status || '-'}</span></div>
              </div>
            </div>
          </div>

          <div class="device-buttons">
            <button class="text-btn" onclick="editDevice('${device.id}')">{{ _('Επεξεργασία') }}</button>
            <button class="text-btn danger" onclick="deleteDevice('${device.id}')">{{ _('Διαγραφή') }}</button>
          </div>
        </div>
      `;

      container.appendChild(card);
    });

  }

  async function deleteDevice(id) {
    if (!confirm('{{ _("Να διαγραφεί η συσκευή;") }}')) return;
    const res = await fetch(`/api/devices/${id}`, { method: 'DELETE' });
    if (res.ok) {
      showToast("{{ _('Διαγράφηκε') }}.");
      editingDeviceId = null;
      exitEditMode();
      fetchDevices();
    } else {
      showToast("{{ _('Σφάλμα διαγραφής.') }}", 'error');
    }
  }

  let editingDeviceId = null;

  function editDevice(id) {
    enterEditMode();
    document.getElementById('form-title').textContent = '{{ _("Επεξεργασία Συσκευής") }}';
    const device = allDevices.find(d => d.id === id);
    
    setEditIndicator(device.name);
    const form = document.getElementById('add-device-form');
    form.name.value = device.name;
    form.pin_powered.value = device.pins.powered.pin;
    form.pin_active.value = device.pins.active.pin;
    form.pin_enabled.value = device.pins.enabled.pin;
    form.pin_open.value = device.pins.open.pin;
    form.pin_overriden.value = device.pins.overriden.pin;
    form.pin_enable.value = device.pins.enable.pin;
    form.pin_enable_value.value = device.pins.enable.value;
    form.pin_override.value = device.pins.override.pin;
    form.pin_override_value.value = device.pins.override.value;
    
    form.mqtt_pub_status_topic.value = device.mqtt.status;
    form.mqtt_sub_enable_topic.value = device.mqtt.enable;
    form.mqtt_sub_override_topic.value = device.mqtt.override;
    form.mqtt_sub_report_status_topic.value = device.mqtt.report_status;

    form.querySelector(`input[name="pin_enable_value"][value="${device.pins.enable.value}"]`).checked = true;
    form.querySelector(`input[name="pin_override_value"][value="${device.pins.override.value}"]`).checked = true;

    editingDeviceId = id;
    form.querySelector('button[type="submit"]').textContent = '{{ _("Ενημέρωση") }}';
    document.body.classList.add('show-detail');
  }

  function addNewDevice() {
    enterEditMode();
    editingDeviceId = null;
    const form = document.getElementById('add-device-form');
    form.querySelector('button[type="submit"]').textContent = '{{ _("Αποθήκευση") }}';
    document.body.classList.add('show-detail');

    // Καθάρισε τη φόρμα
    document.getElementById('add-device-form').reset();
    document.getElementById('form-title').textContent = '{{ _("Προσθήκη Συσκευής") }}';
    document.getElementById('edit-indicator').style.display = 'none';    
  }

  document.getElementById('add-device-form').addEventListener('submit', async function (e) {
    e.preventDefault();
    const form = new FormData(this);
    const name = form.get('name');

    const pins = {
      powered: +form.get('pin_powered'),
      active: +form.get('pin_active'),
      enabled: +form.get('pin_enabled'),
      open: +form.get('pin_open'),
      overriden: +form.get('pin_overriden'),
      enable: {
        pin: +form.get('pin_enable'),
        value: +form.get('pin_enable_value') 
      },
      override: {
        pin: +form.get('pin_override'),
        value: +form.get('pin_override_value') 
      }
    };

    const mqtt = {
      status: form.get('mqtt_pub_status_topic'),
      enable: form.get('mqtt_sub_enable_topic'),
      override: form.get('mqtt_sub_override_topic'),
      report_status: form.get('mqtt_sub_report_status_topic')
    };

    if (
      !name ||
      isNaN(pins.powered) ||
      isNaN(pins.active) ||
      isNaN(pins.enabled) ||
      isNaN(pins.open) ||
      isNaN(pins.overriden) ||
      isNaN(pins.enable.pin) ||
      isNaN(pins.enable.value) ||
      isNaN(pins.override.pin) ||
      isNaN(pins.override.value)
    ) {
      showToast("{{ _('Συμπλήρωσε όλα τα πεδία σωστά.') }}", 'error');
      return;
    }

    const device = {
      name,
      pins,
      mqtt
    };

    console.log(form, pins, mqtt, device);

    let res;
    if (editingDeviceId) {
      res = await fetch(`/api/devices/${editingDeviceId}`, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(device)
      });
    } else {
      const used = getUsedPins();
      const conflict = Object.entries(pins).find(([k, v]) => {
        const pinNum = typeof v === 'object' ? v.pin : v;
        return used.has(pinNum);
      });
      if (conflict) {
        const msgTemplate = `{{ _('Το Pin %%\(conflict\)s χρησιμοποιείται ήδη.') }}`;
        const msg = msgTemplate.replace('%(conflict)s', conflict);
        showToast(msg, 'error');
        return;
      }

      res = await fetch('/api/devices', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ name, pins, mqtt })
      });
    }

    if (res.ok) {
      this.reset();
      showToast(editingDeviceId ? "{{ _('Η συσκευή αποθηκεύθηκε!') }}" : "{{ _('Η συσκευή προστέθηκε!') }}");
      editingDeviceId = null;
      setEditIndicator(null);
      fetchDevices();
      
      exitEditMode();
    } else {
      const err = await res.text();
      showToast("Σφάλμα: " + err, 'error');
    }
  });

  fetchDevices();
  checkMQTTStatus();
  setInterval(checkMQTTStatus, 5000);

  
  function toggleCard(el) {
    const card = el.closest('.device-card');
    if (!card.classList.contains('hide')) {
      card.classList.toggle('expanded');
    }
  }

  // // Dark mode toggle
  // document.getElementById('theme-toggle').addEventListener('click', () => {
  //   document.body.classList.toggle('dark');
  //   localStorage.setItem('theme', document.body.classList.contains('dark') ? 'dark' : 'light');
  // });

  // Load theme on startup
  window.addEventListener('DOMContentLoaded', () => {
    if (localStorage.getItem('theme') === 'dark') {
      document.body.classList.add('dark');
    }
  });

  function setEditIndicator(deviceName) {
    const indicator = document.getElementById('edit-indicator');
    if (deviceName) {
      const msgTemplate = `{{ _('Επεξεργάζεσαι τη συσκευή "%%\(deviceName\)s"') }}`;
      indicator.textContent = msgTemplate.replace('%(deviceName)s', deviceName);      
      indicator.style.display = 'block';
    } else {
      indicator.style.display = 'none';
      indicator.textContent = '';
    }
  }

  const masterPane = document.querySelector('.master');
  const detailPane = document.querySelector('.detail');
  const backBtn = document.getElementById('backBtn');

  // Αρχική κατάσταση: σε μικρή οθόνη μόνο master
  function updateLayout() {
    const isSmallScreen = window.innerWidth <= 768;
    const master = document.querySelector('.master');
    const detail = document.querySelector('.detail');

    if (isSmallScreen) {
      if (isEditing) {
        // Αν επεξεργάζεσαι, δείξε μόνο detail
        master.classList.add('hide');
        detail.classList.remove('hide');
        backBtn.style.display = 'inline-block';
      } else {
        // Αν ΔΕΝ επεξεργάζεσαι, δείξε μόνο master
        master.classList.remove('hide');
        detail.classList.add('hide');
        backBtn.style.display = 'none';
      }
    } else {
      // Σε μεγάλες οθόνες, δείχνεις και τα δύο πάντα
      master.classList.remove('hide');
      detail.classList.remove('hide');
    }
  }

  window.addEventListener('resize', updateLayout);

  function enterEditMode() {
    isEditing = true;
    updateLayout();
  }

  function exitEditMode() {
    isEditing = false;
    updateLayout();
  }
  updateLayout();
  
  document.getElementById('edit-indicator').textContent = '{{ _("Προσθήκη νέας συσκευής") }}';
  document.getElementById('edit-indicator').style.display = 'block';

  // Κουμπί επιστροφής
  backBtn.addEventListener('click', () => {
    exitEditMode();
  });

  function closeAddDeviceModal() {
    addNewDevice(); // reset the form
    exitEditMode();
  }

  function updateCloseButtonText() {
    const btn = document.getElementById('form-close-btn');
    if (!btn) return;
    
    if (window.innerWidth <= 768) {
      btn.textContent = 'Κλείσιμο';
    } else {
      btn.textContent = 'Καθάρισμα';
    }
  }

  // Εκτέλεση στην αρχή
  updateCloseButtonText();

  // Εκτέλεση όταν αλλάζει το μέγεθος του παραθύρου
  window.addEventListener('resize', updateCloseButtonText);

  // // Έλεγχος αν υπάρχει αποθηκευμένη προτίμηση
  // function applyDarkMode(enabled) {
  //   if (enabled) {
  //     document.body.classList.add('dark-mode');
  //     document.getElementById('dark-mode-toggle').textContent = 'Light Mode';
  //   } else {
  //     document.body.classList.remove('dark-mode');
  //     document.getElementById('dark-mode-toggle').textContent = 'Dark Mode';
  //   }
  //   localStorage.setItem('darkMode', enabled ? 'true' : 'false');
  // }

  // // Κατά το φόρτωμα της σελίδας
  // document.addEventListener('DOMContentLoaded', () => {
  //   const saved = localStorage.getItem('darkMode') === 'true';
  //   applyDarkMode(saved);

  //   document.getElementById('dark-mode-toggle').addEventListener('click', () => {
  //     const isDark = document.body.classList.contains('dark-mode');
  //     applyDarkMode(!isDark);
  //   });
  // });


</script>

  <script src="{{ url_for('static', filename='menu.js') }}"></script>
  <script src="{{ url_for('static', filename='toast.js') }}"></script>
  <script src="{{ url_for('static', filename='modal_pin_set.js') }}"></script>
</body>
</html>
